<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider  name="Mstest"></unitTestProvider>
    <stepAssemblies>
      <!-- <stepAssembly assembly="{name-of-assembly-containing-bindgins}" /> -->
       <stepAssembly assembly="SharedStepDefinitions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=fef609f48972960d" /> 
    </stepAssemblies>
  </specFlow>

</configuration>